@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url('@/assets/fonts/en/HelveticaNeueMedium.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue LT GEO 65 Medium';
  src: url('@/assets/fonts/ka/Helvetica Neue LT GEO 65 Medium.ttf') format('opentype');
}

html[lang='en'] {
  font-family: 'Helvetica Neue Medium';
}

html[lang='ka'] {
  font-family: 'Helvetica Neue LT GEO 65 Medium';
}
